<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title class="ion-text-capitalize">
      WilstermannAPP
    </ion-title>
    <!--<ion-button (click)='confirmOrderAlert()' class="button-header-end" slot="end">
      <ion-icon name="return-right"></ion-icon>
    </ion-button>-->
    <div class="logout" (click)='confirmOrderAlert()' style="text-align: right;">
      <img style="width: 12%; align: right;" src="assets/images/home/logoutblue.svg" />
    </div>
  </ion-toolbar>
</ion-header> 


<ion-content class="color-content">
  <ion-grid style="text-align: center;" class="ion-padding">
    <div class="my_account">
      <div class="row logo-wapp">
        <img style="width: 100%;" src="assets/images/wilstermann_logo_color.png" />
      </div>
    </div>
    <!--<ion-img width="80" height="80" src="../../../assets/images/home/wilsterLogo.png" style="margin-top: 25px;"></ion-img>-->
    <ion-label style="margin:0.85em; color: rgb(233, 227, 227);">
      Wilstermann quiere que te registres
    </ion-label>
    <ion-label style="margin:0.85em; color: rgb(233, 227, 227);">
      Accede a contenido exclusivo, personalizado para tu perfil, mira las predicciones y stickers oficiales
    </ion-label>
  </ion-grid>
  <div class="row row-buttons">
    <!--<ion-card class="card-color" (click)="goToRegisterPage()" color="primary">-->
    <ion-card class="card-dark-color" (click)="goToRegisterPage()">  
      <ion-card-header>
        <ion-card-title class="title-button" style="text-align: center;">Registrarse</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card class="card-dark-color" (click)="goToLoginPage()">
      <ion-card-header>
        <ion-card-title class="title-button" style="text-align: center;">Iniciar Sesión</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>

  <div style="padding: 25px;">
    <p style="text-align: center;"><b>SE UN AVIADOR</b></p>
    <div class="shirt-wapp" style="background-image: url('assets/images/home/poleraWAPP.png'); background-color: darkgray;">
      <!--<p *ngif="isLogged" class="username">Nombre Usuario</p>-->
      <p class="username"><b>Nombre Usuario</b></p>
    </div>
  </div>



</ion-content>




<ion-footer>
  <ion-row>
    <ion-segment [(ngModel)]="filter" (ngModelChange)="segmentChanged($event)"  class="footer-margin" color="tertiary" >
      <ion-segment-button value="feed" >
        <ion-label class="label-color">WApp</ion-label>
        <ion-icon class="label-color" name="football"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="home" >
        <ion-label class="label-color">Explorar</ion-label>
        <ion-icon class="label-color" name="search"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="account" >
        <ion-label class="label-color">Mi Cuenta</ion-label>
        <ion-icon class="label-color" name="person"></ion-icon>
      </ion-segment-button>
      <div class="watermark">
        <label class="label-color first-title">Powered by</label><br>
        <label class="label-color second-title">AITBOL</label>
      </div>
    </ion-segment>
  </ion-row>
</ion-footer>

