ion-grid {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.toolbar-image{
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.background-image {
    height: 100%;
    //background-image: url('../../../assets/images/backgroundWW.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.name-size{
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.3;
    text-align: center;
    color: white !important;
}

.home-content{
    //--background:rgb(255, 255, 255);
    --background: rgba(17, 16, 16, 0.911);
}

/*.color-card{
    --background:rgb(255, 255, 255) !important;
}*/
.color-card{
    --background:#1e1e1e !important;
    background-color: #1e1e1e !important;
}

.color-content{
    --background: rgba(17, 16, 16, 0.911);
  }

.hour-position{
    margin-bottom: 0.75em;
    margin-left: 1em;
    margin-right: 1em;
    text-align: right;
    color: grey;
}

.icon-right{
    //float: right;
    //margin-bottom: 1em;
    //margin-right: 1em;;
    max-width: 1em;
    max-height: 1.5em;
    padding-left: 18em;
}
.toolbar{
    --background: rgb(212, 16, 16);
    //--background: rgb(16, 32, 212);
}
.spinner-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(212, 16, 16);
}
