ion-grid {
    height: 100%;
    display: flex;
    flex-direction: column;
  
    ion-row {
        flex-grow: 1;
    }
}

.toolbar-image{
    height: 100%;
    //background-image: url('../../../assets/images/backgroundWW.jpg');
    background-color: blue;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.toolbar{
    --background: rgb(212, 16, 16);
}

.home-image {
    height: 100%;
    //background-image: url('../../../assets/images/backgroundWW.jpg');
    background-color: rgba(0, 0, 0, 0.926);//background-color: blue;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

ion-list {
    background-color: transparent !important;
}

.spinner-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(212, 16, 16);
}

.home-content{
    --background: rgba(17, 16, 16, 0.911);
}

.title-visit-name {
    padding-top: 1.5em !important;
    padding-left: 0 !important;
    padding-right: 4px !important;
    text-align: right;
    font-size: 12px;
}
.wilstername {
    color:rgb(3, 3, 174) !important;
    font-size: 11px !important;
}

.title-home-name {
    padding-top: 1.5em !important;
    padding-left: 4px !important;
    padding-right: 0 !important;
    text-align: left;
    font-size: 12px;
}
.title-home-goals {
    text-align: left;
    padding-top: 1.1em !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 16px;
}
.title-visit-goals {
    text-align: right;
    padding-top: 1.1em !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 16px;
}

ion-footer{
    background-color: black;
}

.footer-margin{
    margin-right: 0.5em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.label-color{
    color: white;
}

.title-day {
    font-size: 22px;
    color: rgb(212, 16, 16);
    padding-left: 10px;
}

.watermark{
    //margin-top: 1em;
    margin-left:1em !important;
    margin-top:0.3em !important;
    margin-bottom:0.5em !important;
    margin-right:0.75em !important;
    .first-title{
     font-size: 12px;
     font-weight: 600;
     text-align:left;
    }
    .second-title{
     font-size: 18px;
     font-weight: 700;
     text-align:left;
    }
 }

ion-label{
    font-size: smaller;
}

.dashboard{
    margin-bottom: 0.2em;
}

.search-bar{
    color:transparent;
}

ion-searchbar{
    --box-shadow:none;
}

ion-card {
    --background: rgb(255, 255, 255);
    --color: rgba(17, 16, 16, 0.911);
  }

ion-card-content {
    --background: rgb(255, 255, 255);;
    --color: rgba(17, 16, 16, 0.911);
}

.trivia-card{
    --background: rgb(212, 16, 16);
}

@media (max-width: 375.1px) {
    .title-visit-name {
        font-size: 12px;
    }
    .title-home-name {
        font-size: 12px;
    }
    .wilstername {
        color:rgb(3, 3, 174) !important;
        font-size: 11px !important;
    }
  }