<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button style="color:rgb(233, 227, 227)" mode='md' defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:rgb(233, 227, 227)">Historia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="color-content">
  <ion-grid class="background-image">
    <div class="dashboard">
      <div class="paragraph">
        <img style="width: 100%;" src="assets/images/wilstermann_logo_color.png" />
      </div>
      <div class="paragraph">
        <!--<ion-title class="title-paragraph"> Fundación </ion-title>-->
        <p class="history-title"> Fundación </p>
        <!--<ion-label class="label-paragraph">-->
          <p class="history-label">El 24 de noviembre de 1949 cerca de 50 trabajadores del <i>**Lloyd Aéreo Boliviano**</i>, entre ellos <i>Justo Mancilla, Ernesto Salazar, Sixto Oquendo y Rogelio Zubieta</i>, decidieron crear el Club Deportivo y Cultural LAB, las ramas deportivas elegidas fueron el fútbol, el tenis y el ajedrez. El primer presidente fue Justo Mancilla, empleado del Departamento de Comunicaciones. La fundación se llevó a cabo donde actualmente se encuentran las canchas deportivas del LAB.</p>
          <p class="history-label">Se decidió llevar los colores del Lloyd Aéreo Boliviano con la idea de recibir el apoyo de las autoridades de aviación. El primer uniforme del Club Deportivo LAB fue una camiseta listada con colores blanco y celeste y el short azul.</p>
          <p class="history-label">Entre 1950 y 1951, el campeonato interno de fútbol del LAB, organizado por el Club Deportivo LAB fue ganado por la Escuela Técnica de Aviación, debido a la competitividad del torneo, la Escuela Técnica de Aviación fue invitada a jugar a Oruro. Para muchos es el inicio del ahora Wilstermann. Ese mismo año llega a gerentar el LAB el comandante Walter Lehm.</p>
          <p class="history-label">En 1952, Justo Mancilla presidente del Club LAB y Hernán Zurita presidente del club *San José de la Banda* llegaron a un acuerdo y este equipo que militaba en la categoría intermedias de la AFC presentó a su equipo con la base de los jugadores del Club LAB, por eso se afirma que es la primera institución que representa al Club Deportivo LAB en la Asociación de Fútbol Cochabamba, ganando ese año el título de la categoría. El uniforme era camiseta blanca con banda cruzada celeste y shorts azules, el uniforme alterno era camiseta blanca con listados rojos, shorts rojos y medias rojas.</p>
          
          
          <p class="history-label">En 1953, en la gestión de José Rico se produce el cambio de nombre único y oficial de Club Deportivo LAB a <b style="color:#eeeeee;">**Club Deportivo JORGE WILSTERMANN**</b> en homenaje al primer piloto comercial de Bolivia. El nombre fue sugerido por el comandante Walter Lehm.</p>
          
          <p class="history-label">El 6 de febrero de 1953, el periódico *El País* publicó lo siguiente:</p>
          
          <p class="history-label"><i>"Empleados y Obreros del Lloyd Aéreo Boliviano han organizado el Club Cultural y Deportivo Jorge Wilstermann cuyo primera directiva es: Presidente Honorario: Comandante Walter Lehm, Socios Honorarios: Alejandro Robles, Carlos Arze, Alfredo Buchón, Lucio Melgar, Antonio Beltrán, Ernesto Salazar y José Gutiérrez. Presidente Activo: José Rico, Vicepresidente: Luis Mayorga, Sec. General: Carlos Montán, Sec. de Actas: Sergio Pérez, Tesorero: Jaime Salazar, Dir. de Deportes: Natalio Ritcher, Dir. de Fútbol: Enrique Ovando."</i></p>
      
          <p class="history-label">El domingo 17 de mayo de 1953 se produce el debut oficial de <b>**Wilstermann**</b> en la Asociación de Fútbol Cochabamba en la cancha B del estadio Felix Capriles a las 16:15 enfrentando al club Santivañez en la categoría de intermedias. Ese año el club logra el título departamental y un rápido ascenso de categoría.</p>
          
          <p class="history-label">En 1954, en la gestión de Hernán Araoz el equipo aviador participó en la categoría Primeras de Ascenso de la AFC, fue la sensación del torneo, el equipo fue campeón con 22 puntos, producto de 11 victorias y una sola derrota.</p>
        
        <!--</ion-label>-->
      </div>
      <div class="paragraph">
        <!--<ion-title class="title-paragraph"> Era Profesional </ion-title>-->
        <p class="history-title"> Era Profesional </p>
        <p class="history-label">En 1955, el nuevo presidente de Wilstermann, <i>*Roberto Prada*</i>, propuso a la AFC integrar a Cochabamba al Sistema Profesional de fútbol con los conjuntos de La Paz. Las gestiones fueron positivas y Wilstermann fue invitado a participar del Torneo Profesional Nacional sin llegar a participar, como campeón de ascenso, en la Primera de la AFC, mucho se debe a un partido amistoso. El 17 de abril de 1955, Wilstermann derrotó a Bolívar por 7 a 5 en La Paz ante 11.000 personas, el último gol de Wilstermann fue de una espectacular chilena anotado por uno de los mayores referentes del club a lo largo de su historia, Renán López. El periódico El Diario de La Paz titulaba "Exhibiendo estimables atributos, Wilstermann superó a Bolívar", El Pueblo por su parte tituló "Wilstermann ganó a la academia Dictando Cátedra de Fútbol".10 Este partido es considerado el amistoso más importante de la historia de Wilstermann.</p>
      
        <p class="history-label">El debut en el Fútbol Profesional Boliviano se produjo el 14 de mayo de 1955, en Cochabamba, enfrentando a The Strongest con quien se empató a 3 goles. El equipo terminó en quinto lugar del Torneo Integrado de 1955.</p>
        
        <p class="history-label">En 1956, nuevamente el equipo aviador termina en quinto lugar del Torneo Integrado de 1956.</p>

      </div>
      <div class="paragraph">
        <!--<ion-title class="title-paragraph"> Cambio de colores </ion-title>-->
        <p class="history-title"> Cambio de colores </p>
        <p class="history-label">Los colores del club fueron cambiados en 1956 en la gestión del Dr. Jorge Rojas Tardío (+), quien sugirió los colores actuales de la institución, *"Escogí esos colores porque significan fuerza, garra y entrega total en el campo de juego, además era el único equipo en el país que entonces comenzó a usar esos colores"* fue la explicación del expresidente vitalicio de Wilstermann.</p>
      </div>

      <div class="paragraph" style="background-color: #1c1c1c !important;">
       <!-- <ion-title class="title-paragraph"> Escudo </ion-title>-->
       <p class="history-title"> Escudo </p>
       <p class="history-label">El Dr. Jorge Rojas Tardío se dió la tarea de buscar un logotipo que identificara al club, soñó que este reflejara un corazón bullente, con la inicial de nuestro nombrey algo que simbolice y refleje nuestro origen aeronáutico. Buscó a don Franklin Anaya, quién escucho la idea y la plasmó en un escudo que es el que hasta 1998 se usó sin modificación alguna, en ocasión de los 50 años, en el directorio de Mauricio Méndez se realizó un concurso para presentar un escudo conmemorativo, que se usó por las Bodas de Oro de la institución, que hasta la fecha sigue siendo usado al igual que el original.</p>
          
        <p class="history-label">Por otro lado Sixto Oquendo cuenta que la iniciativa le correspondió a él y que un pintor de apellido Miranda terminó el diseño en el propio LAB. Por otro lado la esposa del ex arquero Basilio Sánchez bordó el escudo en las poleras que fuéron costuradas por la esposa de Sixto Oquendo, doña Alicia de Oquendo. Es así que se puede corregir que las estrellas del escudo no son los títulos que obtuvo Wilstermann, sino masbien la categoria de un equipo que en menos de 10 años ya era campeón nacional.</p>
              
          <p class="history-label">Doña Alicia de Oquendo confeccionó los primeros uniformes desde el celeste y blanco de 1950, hasta las poleras rojas de 1955, reconoce que los shorts los compraron en la casa Alvion House.</p>
              
          <p class="history-label">"Tunari chakinpiña puñusan wawaigui Jorge Rojas Tardío (al pie del Tunari ya esta durmiento tu hijo Jorge Rojas Tardío)", esas fueron las últimas palabras que pronunció su hijo Jorge al despedir a su querido padre considerado como el "patriarca valluno"</p>
              
          <p class="history-label">Estuvieron presentes en el último adiós a Jorge Rojas Tardío la mayoría de la familia wilstermanista encabezada por el vicepresidente de la entidad, de ese entonces Jhon Rocabado que se mostró muy emocionado y por ello no pudo hablar a nombre de su club.</p>    
              
          <p class="history-label">Se advirtió la presencia de casi todo el equipo de la década del 50 y 60 entre ellos Wálter Zamorano, Carlos Trigo, Osvaldo Villarroel, Jesús Herbas, Jaime Herbas, José Arnez, Alfredo Soria, Renán López, Ausberto García, César Sánchez y el futbolista de Aurora Leonardo Ferrel. Todo esto en Marzo de 2007"</p>
      </div>
    </div>


  </ion-grid>
</ion-content>