ion-grid {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.toolbar-image{
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.background-image {
    height: 100%;
    //background-image: url('../../../assets/images/backgroundWW.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.name-size{
    font-size: 1em;
}

.content{
    --background:rgb(255, 255, 255);
}


.home-content{
  --background: rgba(17, 16, 16, 0.911);
}

.title-visit-name {
  padding-top: 1.5em !important;
  padding-left: 0 !important;
  padding-right: 4px !important;
  text-align: right;
  font-size: 12px;
}
.wilstername {
  color:rgb(3, 3, 174) !important;
  font-size: 11px !important;
}

.title-home-name {
  padding-top: 1.5em !important;
  padding-left: 4px !important;
  padding-right: 0 !important;
  text-align: left;
  font-size: 12px;
}
.title-home-goals {
  text-align: left;
  padding-top: 1.1em !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  font-size: 16px;
}
.title-visit-goals {
  text-align: right;
  padding-top: 1.1em !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  font-size: 16px;
}



ion-card{
    text-align: center;
}

.score-card-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.toolbar{
    --background: rgb(212, 16, 16);
}

.container {
    text-align: center;
    margin-top: 2em;
  }
  .score-card-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .score-card {
    width: 100%;
    display: flex !important;
  }
  .date-card {
    width: 100%;
    height: .75em;
    display: flex !important;
    background-color: rgb(223, 215, 215);
    //background-color: white;
  }
  .date{
      flex:1;   
      text-align: center;
  }
  .home {
    flex: 1;
    text-align: right;
  }
  .away {
    flex: 1;
    text-align: left;
  }
  
  .score {
    width: 100px;
    text-align: center;
  }

  .card{
      height: 5em ;
  }
  .date-button{
      font-size: 0.75em;
      margin-bottom: 1em;
      position: relative;
  }

  ion-card {
    --background: rgb(255, 255, 255);;
    --color: rgba(17, 16, 16, 0.911);
  }
  
  ion-card-title {
    --color: rgba(17, 16, 16, 0.911);
  }
  
  ion-card-subtitle {
    --color: rgba(17, 16, 16, 0.911);
  }
  
  /* iOS places the subtitle above the title */
  ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }

  .card-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .has-card-footer {
    padding-bottom: 15px;
  }
  
  .color-content{
    --background: rgba(17, 16, 16, 0.911);
  }

  ion-segment-button {
    --background-checked: rgb(212, 16, 16);
    --indicator-color: transparent;
    --border-color:  rgb(212, 16, 16);
    --color:  rgb(223, 215, 215);
    //--color-checked: rgb(212, 16, 16);
  }



  @media (max-width: 375.1px) {
    .title-visit-name {
        font-size: 12px;
    }
    .title-home-name {
        font-size: 12px;
    }
    .wilstername {
        color:rgb(3, 3, 174) !important;
        font-size: 11px !important;
    }
  }