<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button style="color:rgb(233, 227, 227)" mode='md' defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:rgb(233, 227, 227)">Jugadores</ion-title>
  </ion-toolbar>
</ion-header>

<div class="spinner-container" *ngIf="spinner">
  <ion-spinner ></ion-spinner>
</div>

<ion-content class="color-content">
  <ion-grid class="background-image">
    <div class="dashboard">
      <p class="label-title"> Arqueros</p>
      <div class="separator"></div>
      <ion-row *ngIf="goalKeepersList">
        <ion-col size="6" *ngFor="let player of goalKeepersList">
          <ion-card [routerLink]="['/news']" text-center padding class="card-color card-player">
            <!-- <ion-icon name="person"></ion-icon> -->
            <ion-img width="100" height="100" [src]="player.photo"></ion-img>
            <h2 class="name-size">{{player.name}}</h2>
          </ion-card>
        </ion-col>
      </ion-row>
      <p class="label-title"> Delanteros</p>
      <div class="separator"></div>
      <ion-row *ngIf="forwardFieldersList">
        <ion-col size="6" *ngFor="let player of forwardFieldersList">
          <ion-card [routerLink]="['/news']" text-center padding class="card-color card-player">
            <!-- <ion-icon name="person"></ion-icon> -->
            <ion-img width="100" height="100" [src]="player.photo"></ion-img>
            <h2 class="name-size">{{player.name}}</h2>
          </ion-card>
        </ion-col>
      </ion-row>
      <p class="label-title"> Medio Campistas</p>
      <div class="separator"></div>
      <ion-row>
        <ion-col size="6" *ngFor="let player of midFieldersList">
          <ion-card [routerLink]="['/news']" text-center padding class="card-color card-player">
            <!-- <ion-icon name="person"></ion-icon> -->
            <ion-img width="100" height="100" [src]="player.photo"></ion-img>
            <h2 class="name-size">{{player.name}}</h2>
          </ion-card>
        </ion-col>
      </ion-row>
      <p class="label-title"> Defensas</p>
      <div class="separator"></div>
      <ion-row>
        <ion-col size="6" *ngFor="let player of defenseFieldersList">
          <ion-card [routerLink]="['/news']" text-center padding class="card-color card-player">
            <ion-img width="100" height="100" [src]="player.photo"></ion-img>
            <!-- <ion-icon name="person"></ion-icon> -->
            <h2 class="name-size">{{player.name}}</h2>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>

  </ion-grid>
</ion-content>